:host {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  background-color: gray;
  height: calc(100vh - 16px);
  display: flex;
  flex-direction: column;
  position: relative;
}

.swipeable {
  background-color: rgb(250 250 250);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  margin: 0px 8px;
}

.squaredBorder {
  border-radius: 0;
}

.swipeable-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

.swipeable-handler {
  background-color: rgb(130 145 160);
  margin: 16px auto;
  height: 4px;
  min-height: 4px;
  width: 32px;
  border-radius: 8px;
  opacity: 0.4;
}

.todos-container {
  background-color: rgb(249 250 250);
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.todos-title {
  text-align: center;
  font-weight: bold;
}

.todos {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  height: 100%;
  padding: 36px;

  .todo {
    list-style: none;
    border-bottom: 1px solid rgb(130 145 160);
  }
}

.todos-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 4px;
  gap: 8px;

  .prompt {
    flex-grow: 1;
  }
}

.close-todos {
  position: absolute;
  right: 8px;
  border: 0px;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  font-size: 12px;
}

